
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

html, body {
  background-color: $backGroundColor;
}

.b_widgetDashboardWrap {
  padding: 10px;
  border-radius: 3px;
  background-color: #eee;
  margin-top: 15px;
}
.curtain {
  position: absolute;
  top:0;
  left:0;
  right:0;
  bottom: 0;
  background-color: rgba(0,0,0,0.4);
  color: #fff;
  z-index: 2;
}
.b_squadEditor {
  position: fixed;
  z-index: 10;
  top:0;
  left:0;
  right:0;
  bottom: 0;
  overflow-y: auto;
  padding: 15px;
  background-color: rgba(0,0,0,0.6);
}